/*
	91.461 Assignment 9: Implementing a Bit of Scrabble with Drag-and-Drop
    Khyteang Lim, Student, UMass Lowell Computer Science, khy_lim@student.uml.edu
    updated by KL on December 9, 2015 at 11:28 PM
     
    This is a game of scrabble.
    This is the css file for assignment09 (implementing a bit of Scrabble)

	File: Assignment09.css
	http://weblab.cs.uml.edu/~klim/Assignment09.html
*/

/*body customization*/
body{
	color: black;
	background-color: white;
	background-image: url("..//images//assignment09background.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	margin-left: 70px;	
}

/*title customization*/
.titleHeading{
	font-size: 50px;
	text-align: center;
}

/*scrabble board game area*/
.gameArea {
	float: left;
	clear: both;
}

/*scrabble board*/
.scrabbleBoard {
	background-color: rgb(0,0,0);
    position: absolute;
}

/*rack area*/
.rackTiles {
    position: absolute;
}

/*draggable customization*/
.draggable { width: 50px; height: 50px; left: auto; top: auto; position: relative;}
.ui-widget-header p, .ui-widget-content p { margin: 0; }

/*bonus tiles customization
All tiles images were created by Jason Downing*/
.tripleWord {
	width: 50px;
	height: 50px;
	background-image: url("..//images//scrabble//triple_word.png");
	z-index: 3;
}

.tripleLetter {
	width: 50px;
	height: 50px;
	background-image: url("..//images//scrabble//triple_letter.png");
	z-index: 3;
}

.doubleWord {
	width: 50px;
	height: 50px;
	background-image: url("..//images//scrabble//double_word.png");
	z-index: 3;
}

.doubleLetter {
	width: 50px;
	height: 50px;
	background-image: url("..//images//scrabble//double_letter.png");
	z-index: 3;
}

.normalTile {
	width: 50px;
	height: 50px;
	background-color: rgb(236,184,81);
	z-index: 3;
}

.middleStarTile {
	width: 50px;
	height: 50px;
	background-image: url("..//images//scrabble//star.png");
}

/*regular tile customization*/
.tilePiece {
	width: 50px;
	height: 45px;
}

/*player's tile text customization*/
#information {
	text-align: center;
	font-size: 40px;		
}

/*score board customization*/
#scoreBoard {
	text-align: center;
	font-size: 40px;	
}

/*button customization*/
button {
	margin-left: 30px;
	margin-right: -20px;
	margin-top: 10px;
	padding: 15px;
}

/*remaining tile table customization*/
#remainingTableDiv {
	margin-top: 15px;
	margin-left: 25px;
	text-align: center;
	font-size: 15px;
}

/*remaining tile table cells for each rows customization*/
#remainingTableRow1 td {
	 border: 1px solid black;
	 padding: 5px;
	 text-align: center;
}

#remainingTableRow2 td {
	 border: 1px solid black;
	 padding: 5px;
	 text-align: center;
}

#remainingTableRow3 td {
	 border: 1px solid black;
	 padding: 5px;
	 text-align: center;
}

/*word currently played customization*/
#wordOnBoard {
	text-align: center;
	font-size: 30px;
}