/*
91.461 Assignment:  Creating Your First Web Page
Khyteang Lim, Student, UMass Lowell Computer Science, khy_lim@student.uml.edu
updated by KL on September 22, 2015 at 1:08 PM
    
This web page contains personal information about Khyteang Lim.
This is the Cascading Style Sheets for my personal page.
*/

/*body customization*/
body {
    margin: 0;
    padding: 0;
    font-family: 'Poiret One', cursive;
}

#frontPage {
    position: relative;
    margin: 0;
    padding: 0;
}

#frontPage .headerImage {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    width: 100%;
}
/*title banner class customization*/
#frontPage .my-title-container {
    position: absolute;
    top: 200px;
    left: 0;
    width: 100%;
    overflow: hidden;
}
#frontPage .my-title-container h1 {
    padding: 50px;
    text-align: center;
    z-index: 2;
    position: relative;
    color: #fff;
} 

/*menu bar class customization*/
#frontPage .menuBar {
    position: absolute; 
    top: 45%;
    left: 30%;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    padding: 0px;
    list-style-type: none;
}

#frontPage .menuBar .menuItemLink {
    text-align: center;
    text-decoration: none;
    color: white;
    padding: 1em 2em;
    border: 1px white solid;
    border-radius: 0px;
    overflow: hidden;

}

/*menu item changes color when user hover*/
#frontPage .menuBar .menuItemLink:hover {
    background: rgba(255,255,255,.4);
}

#frontPage .menuBar .menuItem {
    display: inline;
}

/*customization for aboutMeSection*/
#aboutMeSection {
    position: relative;
    margin:0;
    padding:0;
}

/*aboutMeSection background*/
#aboutMeSection .headerImage {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    width: 100%;
    height: 1020px;
    margin-top: -10px;
}

#aboutMeSection .container {
    position: absolute;
    top: 300px;
    left: 0;
    width: 100%;
    overflow: hidden;
}

#aboutMeSection .container h1 {
    text-align: center;
    z-index: 2;
    position: relative;
    color: #fff;
} 

#aboutMeSection .container p {
    padding-top: 45px;
    font-size: 16pt;
    font-weight:normal;
    padding-left: 100px;
    padding-right: 100px;
    text-align: center;
    z-index: 2;
    position: relative;
    color: #fff;
} 

#aboutMeSection .my-title-container {
    position: absolute;
    top: 200px;
    left: 0;
    width: 100%;
    overflow: hidden;
}

#aboutMeSection .my-title-container h1 {
    padding: 50px;
    text-align: center;
    z-index: 2;
    position: relative;
    color: #fff;
} 

/*customization for guiAssignmentSection*/
#guiAssignmentSection {
    position: relative;
}

/*guiAssignmentSection background*/
#guiAssignmentSection .headerImage {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    width: 100%;
    height: 1020px;
    margin-top: -10px;
}

#guiAssignmentSection .my-title-container {
    position: absolute;
    top: 10px;
    left: 0;
    width: 100%;
    overflow: hidden;
}
#guiAssignmentSection .my-title-container h1 {
    padding: 50px;
    text-align: center;
    z-index: 2;
    position: relative;
    color: #fff;
} 

#guiAssignmentSection .container {
    position: absolute;
    top: 200px;
    left: 10%;
    padding-left: 12%;
    overflow: hidden;
}

#guiAssignmentSection .container h1 {
    color: #fff;
    text-align: center;
    position: relative;
} 

/*customization for table in guiAssignmentSection*/
#guiAssignmentSection .container table {
    width: 100%;
}

#guiAssignmentSection .container table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 20px;
    text-align: center;
    color: #fff;
}

#guiAssignmentSection .container table th {
    background-color: #006699;
    font-size: 17pt;
}

#guiAssignmentSection .container table th td {
    padding: 5px;
    font-size: 12pt;
    color: #fff;
}

/*customization for hackathonProjectsSection*/
#hackathonProjectsSection {
    position: relative;
    margin: 0;
    padding: 0;
}

/*hackathonProjectsSection background*/
#hackathonProjectsSection .headerImage {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    width: 100%;
    height: 1020px;
    margin-top: -10px;
}

#hackathonProjectsSection .my-title-container {
    position: absolute;
    top: 10px;
    left: 0;
    width: 100%;
    overflow: hidden;
}
#hackathonProjectsSection .my-title-container h1 {
    padding: 50px;
    text-align: center;
    z-index: 2;
    position: relative;
    color: #fff;
} 

#hackathonProjectsSection .container img {
    position: absolute;
    top: 150px;
    left: 25%;
}
